<%= provide(:title, "Home") %>
  <h1>Sample App</h1>
  <p>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>
  <h3><%= link_to 'Ayuda', static_pages_help_path %></h3>
  <h3><%= link_to 'About', static_pages_about_path %></h3>
